# Ignore node_modules directory
node_modules/

# Ignore logs and other runtime data
logs/
*.log

# Ignore environment configuration files (if you include sensitive information)
.env
.env.*

# Ignore user-specific settings
.idea/
.vscode/

# Ignore dependencies installed by npm
package-lock.json

*.ps1

test.js